.DishPopup {
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(82,73,62,.55);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition-property: opacity;
    transition-duration: .2s;
    transition-timing-function: ease-in;
    z-index: -1;
    
    &.opened {
        z-index: 99;
        opacity: 1;
        .DishPopupContent {
            transform: translateX(0%);
        }
    
    }
    .overlayModal {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
    .DishPopupContent {
        height: 100%;
        width: 55%;
        background-color: #f6f6f0;
        overflow-y: auto;
        transform: translateX(100%);
        transition-property: transform;
        transition-duration: .3s;
        transition-timing-function: ease-in;
        transition-delay: .1ms;


        position: relative;
        .closeModal {
            position: absolute;
            left: 20px;
            top: 25px;
            z-index: 99;
            background: transparent;
            border: 2px solid #fff;
            border-radius: 50%;
            padding: 9px;
            display: flex;
            opacity: 0.5;
            cursor: pointer;
            &:hover {
                opacity: 1;
            }
        }

        .DishPopupMain {

            padding: 50px 30px 0;

            .DishPopupChanges {
                margin-bottom: 40px;
                padding: 0 20px;
                .notes {
                    display: flex;
                }
                textarea {
                    display: inline-block;
                    width: 100%;
                    max-width: 295px;
                    background-color: transparent;
                    border: none;
                    border-bottom: 2px solid #dbdbdb;
                    font-weight: 700;
                    font-size: 14px;
                    color: #666;
                    height: 35px;
                    &[name="comments"] {
                        margin-left: 5%;
                    }
                }
            }
            
            .DishPopupFooter {
                input[type="submit"] {
                    background: #f06f25;
                    color: #fff;
                    font-size: 17px;
                    font-weight: 900;
                    padding: 10px;
                    border: none;
                    width: 100%;
                    margin-right: 7px;
                    cursor: pointer;
                    border-radius: 3px;
                }
                .close {
                    width: 50px;
                    text-align: center;
                    border-radius: 3px;
                    border: 2px solid #f06f25;
                    color: #f06f25;
                    font-weight: 900;
                    font-size: 34px;
                    line-height: 1.2;
                    outline: none;
                    cursor: pointer;
                }
            }
            
            
        }
    }
    .likeCont {
        span {
            margin-right: 10px;
        }

    }
    
    h3 {
        margin: 0;
        margin-bottom: 10px;
        font-weight: 900;
    }
    .cartItemQuantity span {
        color: #fff;
    }
    
    .cartItemQuantity button {
        /* width: 30px; */
        /* height: 30px; */
        /* border-radius: 50%; */
        border: 1px solid #ffffff;
        background-color: transparent;
        /* margin-right: 5px; */
        color: #fff;
    }
     
    
   .DishPopupDetails {
        
        display: flex;
        justify-content: space-between;
        border-top: 5px solid #fac50c;
        background-image: url(/static/media/dish.4cbee44d.jpg);
        background-size: cover;
        background-position: center;
        position: relative;
        padding: 30px 50px;
        background-position: center;
        background-size: cover;
        .dish-tags-container .dish-tag-desc {
            color: #fff;
        }
        .overlay {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(82, 73, 62, 0.9);
            z-index: 8;
        }
        .flexRow {
            position: relative;
            z-index: 9;
            width: 100%;
        }
        .DishImage {
            width: 45%;
            padding: 0 0 0 30px;
            display: flex;
            align-items: center;
        
            img {
                width: 100%;
                // object-fit: cover;
                // height: 100%;
            }
        }
        .DishDetails {
            width: 50%;
        }
        h2 {
            color: #fff;
            margin: 0 0 8px;
            font-size: 20px;
            font-weight: 900;
        }
        p {
            color: #fff;
            font-size: 13px;
            line-height: 1.1;
            margin: 0;
            margin-bottom: 20px
        }
        p.price {
            font-size: 20px;
            font-weight: bold;
            display: flex;
        }
        .dishQuantity {
            display: flex;
            justify-content: space-between;
            align-items: center;
        
             > p {
                font-size: 17px;
                font-weight: bold;
                margin: 0;
            }
        }
        .dish-tags-container {
            margin-bottom: 15px;
        }
    }
}
