.cartItem {
  padding: 20px;
  display: flex;
  

  .cartItemIMG {
    height: 50px;
    margin-left: 10px;
  }
  .cartItemHeader {
    display: flex;
    justify-content: space-between;
  
    h4 {
      margin-top: 0;
      margin-bottom: 0;
    }
    span {
      font-weight: 700;
    }
  }
  .cartItemDescription {
    font-size: 14px;
    margin-top: 0;
  }

}