.DishPopupDetails {
    display: flex;
    justify-content: space-between;
    border-top: 5px solid #fac50c;
    background-image: url(/static/media/dish.4cbee44d.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 30px 50px;
    .overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(82, 73, 62, 0.9);
        z-index: 8;
    }
    .flexRow {
        position: relative;
        z-index: 9;
    }
    .DishImage {
        width: 45%;
        padding: 40px 0 40px 30px;
        img {
            width: 100%;
        }
    }
    .DishDetails {
        width: 50%;
        padding:0 0 30px 0;
    }
    h2 {
        color: #fff;
        margin: 0 0 8px;
        font-size: 20px;
        font-weight: 900;
    }
    p {
        color: #fff;
        font-size: 13px;
        line-height: 1.1;
        margin: 0;
        margin-bottom: 20px
    }
    p.price {
        font-size: 20px;
        font-weight: bold;
        display: flex;
    }
}