.Menu {
    .rightPane {
        width: 20%;
    }
    .leftPane {
        width: 25%;
    }
     .MenuDishes {
        width: 55%;
    }
    .MenuSection {
        padding: 40px 0;
    }
    @media (max-width: 600px){
        .rightPane {
            display: none;
        }
        .MenuDishes {
            width: 100%;
        }
        .MenuSection .container>.flexRow {
              display: block;
        }
        .leftPane {
            width: 25%;
            width: 100%;
            padding: 0 5px;
            margin-top: 40px;
        }
    }
}
