.OrderType {
    padding: 20px;
    button {
        border: 1px solid #dddecf;
        border-radius: 3px;
        background: transparent;
        font-size: 14px;
        width: 47%;
        padding: 7px 5px;
        font-weight: 600;
        color: #52493e;
        cursor: pointer;
    }
     button:nth-child(1) {
        margin-left: 3%;
    }
    button:nth-child(2) {
        margin-right: 3%;
    }
    button.active {
        color: #fff;
        background:#f4762d;
    }
    
    .typeCaption {
        margin-top: 10px;
        .flexRow {
            justify-content: space-between;
            p {
                margin: 0;
                font-weight: 600;
                font-size: 14px;
                line-height: 2;
            }
        }
    }
    

}