.FooterCredit {
    background-color: #433c32;
    color: #8e8a86;
    .container {
        justify-content: space-between;
        align-items: center;
    }
    a {
        color: #fff;
        text-decoration: none;
    }
}
