.summery-page-container{
  background-color: #fff;
  border-radius: 3px;
  margin: 30px 0;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2);

  .summery-item {
    padding: 20px 10px 20px 20px;
    display: flex;
    justify-content: center;

    .summery-item-content {
      width: 100%;
    }
    
    .summery-item-right {
      display: flex;
      justify-content: center;
      align-items: flex-start;

      .removeFromCartBtn {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid #d8d9c8;
        background-color: #fff;
        margin-left: 5px;  
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    
        img {
          width: 100%;
        }
      }
    }
    .cartItemIMG {
      height: 50px;
      margin-left: 10px;
    }
    .summery-item-header {
      display: flex;
      justify-content: space-between;
    
      h4 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 14px;
      }
      .summery-item-price-quantity{
        display: flex;
        flex-direction: row-reverse;

        span {
          font-weight: bold;
          font-size: 14px;
          margin-right: 10px; 
        }
      }
      
    }
    .summery-item-description {
      font-size: 12px;
      margin-top: 0;
    }
  }
}


.cart-item-comments {
  font-size: 12px;
  margin: 2px 0;
}