.CategoryTitle {
    padding: 15px 20px;
    margin-bottom: 10px;
    border-top: 4px solid #f06f25;

    h3 {
        margin: 0;
        font-weight: 900;
        font-size: 19px;
        line-height: 1;
        margin-bottom: 5px;
    }
    p {
        margin: 0;
        line-height: 1;
        font-size: 14px;
    }
}