html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

.CategoryMenu{

  display: inline-block;
  width: 180px;
  background-color: #fff;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2);
  margin-right: 30px;
  border-radius: 3px;
  position: sticky;
  top: 0;

  ul{
    padding: 23px;
  }

  li{
    list-style: none;
    border-top: 1px solid #d8d9c8;
    text-align: center;
    font-size: 14px;
    padding: 15px 0;
    font-weight: 500;
  }

  li:first-child{
    border: none;
  }

  .is-current{
    background-color: #f16f24;
    border-radius: 3px; 
    border-top: none;
  }

  a{
    text-decoration: none;
    color: #52493e;
    height: 100%;
  }
}